body {
    color: white;
    font-family: sans-serif;
}

.remark-slide-content {
    background-color: #2774AE;
}

.remark-slide-number {
    color: #DAEBFE;
    opacity: 1;
}

.remark-code-line-highlighted {
    background-color: #00FF87;
}

.remark-notes {
    font-size: 1.25rem;
}

h1, h2, .ucla-gold {
    color: #FFD100;
}

h3, h4, h5, h6 {
    color: white;
    font-weight: normal;
}

.ucla-blue {
    color: #2774AE;
}

.yellow {
    color: #FFFF00;
}

.cyan {
    color: #00FFFF;
}

.gray {
    color: gray;
}

a {
    font-family: monospace;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

table {
    line-height: 1.5;
}

td, th {
    padding: 0.6rem 0.8rem;
    text-align: left;
}
